subscriptionId = "2a4da06c-ff07-410d-af8a-542a512f5092"
clientId = "1950a258-227b-4e31-a9cf-717495945fc2"
username = "dns@foobar.com"
password = "whatever"
keyStoreLocation = "c:\\azure.pfx"
keyStorePassword = "whatnever"
resourceGroupName = "DNSGroup"
smtpHost = "smtp.office365.com"
smtpPort = "587"
smtpSender = "certzure@foobar.com"
smtpRcpt = "admin@foobar.com"
smtpUser = "certzure@foobar.com"
smtpPassword = "whatforever"
smtpSsl = "false"
smtpStartTls = "true"
